<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if(products.length> 0) { %>
                    <ul>
                        <% products.forEach(p=> { %>
                            <li>
                                <p>
                                    <%= p.productData.title %>(<%= p.qty %>)
                                            <form action="/cart-delete-item" method="POST">
                                                <input type="hidden" value="<%= p.productData._id %>" name="productId">
                                                <button class="btn" type="submit">delete</button>

                                            </form>
                                </p>

                            </li>
                            <% }) %>
                    </ul>
                    <% }else { %>

                        <h1>No products in carts</h1>
                        <% } %>
            </main>

            <%- include('../includes/end.ejs') %>